@CHARSET "UTF-8";


/* For IE button shape */		
.btn-ie{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #111;
  	background-color: #ffc107;
  	border-color: #ffc107;
	font-size: 14px;
	width: 100%;
	height: 30px;
}

.btn-ie-black{
	color: black;
}

.btn-ie:hover {
  color: #111;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-ie:focus, .btn-ie.focus {
  box-shadow: 0 0 0 3px rgba(255, 193, 7, 0.5);
}

.btn-ie.disabled, .btn-ie:disabled {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-ie:active, .btn-ie.active,
.show > .btn-ie.dropdown-toggle {
  background-color: #e0a800;
  background-image: none;
  border-color: #d39e00;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}